p{
  font-size:5vh;
  color:green;
}
/* Медиа для разных типов устройств*/
@media  (max-height: 800px) {
    body {
      background-color: lightblue;
    }
  }

/*Making images responsive with CSS is actually very simple.
//Instead of applying an absolute width to an element:*/
img {
max-width: 100%;
display: block;
height: auto;
/*height:500px; width: 500px;*/
}

/*vw (viewport width): 10vw would be 10% of the viewport's width.
vh (viewport height): 3vh would be 3% of the viewport's height.
vmin (viewport minimum): 70vmin would be 70% of the viewport's smaller dimension (height or width).
vmax (viewport maximum): 100vmax would be 100% of the viewport's bigger dimension (height or width).*/
